body {
    font-family: Arial, sans-serif;
    margin: 0;
   background-color: #f4f6f8;
}

header {
     background-color:#ffffff;
     color: black;
     padding: 20px;
     text-align: center;
     background-image: url('/data/images/istockphoto-1498878143-612x612.jpg');
}

nav {
     background-color: #1f2937; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px;
    display: block;
}

nav ul li a:hover {
    background-color: #3b82f6;
    border-radius: 5px;
}
.books-container {
    width: 85%;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.books-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #3b2f2f;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #5c4033;
    color: white;
}

table th,
table td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ccc;
}


table tbody tr:hover {
    background-color: #f1e7db;
}


table td:last-child {
    font-weight: bold;
}

table td:last-child:contains("Available") {
    color: green;
}

table td:last-child:contains("Issued") {
    color: red;
}




    table th,
    table td {
        font-size: 14px;
        padding: 8px;
    }


