body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;   

}

header {
    background-color:#ffffff;
    color: black;
    padding: 20px;
    text-align: center;
    background-image: url('/data/images/istockphoto-1498878143-612x612.jpg');
}

.top-header {
    position: relative;          
    padding: 20px 30px;
    background-color: white;
}


.top-header h2 {
    margin: 0;
    color: black;
    font-size: 24px;
}


.top-menu {
    list-style: none;
    position: absolute;
    top: 20px;        
    right: 30px;      
    display: flex;
    margin: 0;
    padding: 0;
}

.top-menu li {
    margin-left: 25px;
}

.top-menu li a {
    text-decoration: none;
    color:rgb(60, 60, 209);
    font-weight: bold;
}

.top-menu li a:hover {
    text-decoration: underline;
}




nav {
    background-color: #1f2937;   
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px;
    display: block;
}

nav ul li a:hover {
    background-color: #3b82f6;
    border-radius: 5px;
}

.parent-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

.inner {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
