body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;      
    background-color: #e6ffff;
    font-family: Arial, sans-serif;
}
.login-container {
    background-color:#0056b3;   
    padding: 30px;
    width: 280px;

    display: flex;
    flex-direction: column;      
    gap: 15px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.login-container h2 {
    text-align: center;
    margin-bottom: 10px;
}


.login-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.login-container button {
    padding: 10px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}
