body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}
header {
    background-color:#ffffff;
    color: black;
    padding: 20px;
    text-align: center;
    background-image: url(/data/images/istockphoto-1498878143-612x612.jpg
    );
}

nav {
    background-color: #1f2937; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px;
    display: block;
}

nav ul li a:hover {
    background-color: #3b82f6;
    border-radius: 5px;
}






.return-container {
    width: 35%;
    margin: 50px auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.return-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}


.return-container form {
    display: flex;
    flex-direction: column;
}


.return-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}


.return-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.return-container button {
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.return-container button:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .return-container {
        width: 90%;
    }
}
