body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:lightcyan;
}

.top-header {
    position: relative;
    padding: 20px 30px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.contact-box {
    background-color: white;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.contact-box h3 {
    text-align: center;
    margin-bottom: 20px;
}
.login-box {
    background-color: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.login-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}


.login-box button {
    padding: 10px 20px;
    cursor: pointer;
}



.top-header h2 {
    margin: 0;
    font-size: 24px;
}


.top-menu {
    list-style: none;
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-menu li {
    margin-left: 20px;
}

.top-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.content {
    padding: 40px;
}


.login-form input {
    padding: 8px;
    width: 200px;
}

.login-form button {
    padding: 8px 15px;
}
